REACT_APP_OPENAI_API_KEY=your_openai_api_key
REACT_APP_GOOGLE_CLOUD_API_KEY=your_google_cloud_api_key
REACT_APP_IBM_WATSON_API_KEY=your_watson_api_key
REACT_APP_AZURE_API_KEY=your_azure_api_key
REACT_APP_SPOTIFY_CLIENT_ID=your_spotify_client_id
REACT_APP_ELEVENLABS_API_KEY=your_elevenlabs_api_key
REACT_APP_FIREBASE_API_KEY=your_firebase_api_key
REACT_APP_SOUNDRAW_API_KEY=your_soundraw_api_key
REACT_APP_AIVA_API_KEY=your_aiva_api_key
